body{
  width: 100%;

  margin: 0;
}
.letra{
 
font-family: 'Patrick Hand', cursive;

}
.decoration-none{
  text-decoration: none;
}

.boton-inicio{
 
margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 5px rgba(41, 80, 59, 0.924) solid;
  box-sizing: border-box;
  z-index: 20;
}
.fixed{
  position: fixed;
}

.a-volver-inicio{

  text-decoration: none;
  transition: all 0.5;
  box-sizing: border-box;
}

.a-volver-inicio :hover{
 
  transform: scale(1.03);
  transition: all 0.6s;
}


.boton-inicio{
  cursor: pointer;
}


.boton-inicio img{
  margin-right: 10px;
}
.texto-volver{
pointer-events: none;
}
.titulos{
  margin-top: 20px; 
  margin-bottom: 20px;

font-size: 50px;
color: rgb(233, 210, 61);

}
.entrar{
  color: rgba(6, 6, 6, 0.785); 
font-size: 60px;
pointer-events: none;
}
.titulo-simbolo{
display:flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;

}
.simbolo{
  width: 30%;
}

/* ///////////////////////////////////////////////////////////////////////// */

.menu{
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
  margin-top: 0px;
  background-color: rgba(41, 46, 41, 0.132);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.sub-menu{
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.boton-selec {
font-size: larger;
  width: 220px;
  height: 40px;
  background-color: transparent;
  border-radius: 10px;
  border: 5px transparent solid;
  margin: 10% 10%;
  cursor: pointer;
}

.boton-selec-1{
  transform: translate(-200px);
}

.boton-selec-2{
  transform: translate(200px);
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////// */

.a-menu{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
width: 100%;
margin: 0;
padding: 0;
cursor: auto;
text-decoration: none;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.texto-container{
 


position: absolute;
width: 95%;

margin-left:2.5%;
margin-top: 100px;
background-color: rgba(244, 251, 245, 0.67);
border-radius: 10px;


}
.section-invisible{
  width: 90%;
  margin: auto;
}

.hr-naranja{
 
  margin-top: 0px;
  width: 95%;
 border-top: 2px solid rgba(255, 153, 0, 0.831);
}

.h2-text{
  padding-top: 60px;
  text-align: center;
  border-bottom:2px solid rgba(255, 153, 0, 0.831) ;

}

.h2-naranja{
  color:rgba(255, 153, 0, 0.9);
  padding-left: 30px;
}

.texto-subrayado{
  text-decoration: underline;
}
.negrita{
  font-weight: bolder;
}
.graficas{
  width: 100%;
  margin: auto;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (min-width: 0px) and (max-width: 676px){
  .menu{
   
    width: 100%;
    height: 100vh;
    /* position: fixed; */
    

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
.sub-menu{
  width: 90%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.boton-selec {
  
    margin: 0% 6% 10% 6%;
  
  }


}