body{
  width: 100%;
  margin: 0;
}
.letra{
 
font-family: 'Patrick Hand', cursive;



}
.titulos{
  margin-top: 20px; 
  margin-bottom: 20px;

font-size: 50px;
color: rgb(233, 210, 61);

}
.entrar{
  color: rgba(6, 6, 6, 0.785); 
font-size: 60px;
pointer-events: none;
}
.titulo-simbolo{
display:flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;

}
.simbolo{
  width: 30%;
}